<div class="filter-panel">
    <div class="close-container"></div>
    <div class="filter-groups">
        <div class="filter-error-container hidden">
        </div>
        <fieldset class="genre-filter-group">
            <legend>Filter by Genre</legend>
            <ul></ul>
        </fieldset>
    </div>
    <div class="filter-buttons-container"></div>
</div>
