<div class="filter-panel">
    <div class="close-container">
        <button aria-label="Close Filter Panel">X</button>
    </div>
    <div class="filter-groups">
        <div class="filter-error-container hidden">
        </div>
        <fieldset class="genre-filter-group">
            <legend>Filter by Genre</legend>
            <ul></ul>
        </fieldset>
    </div>
    <div class="filter-buttons-container">
        <button class="clear-filter">Clear All Filters</button>
        <button class="apply-filters">Apply</button>
    </div>
</div>
