<div class="server-error-container bg-gradient-to-r from-red-800 to-red-900 rounded-xl border border-red-700 p-6 mb-8 shadow-2xl hidden">
   <div class="flex-container-between-center">
       <div class="flex items-center space-x-4">
           <div class="w-1 h-12 bg-red-400 rounded-full shadow-lg"></div>
           <div class="server-msg-container">
               <h3 class="container-title mb-1">Server Error</h3>
               <p class="text-red-200 text-sm"></p>
           </div>
       </div>
       
       <button class="bg-red-400 hover:bg-red-300 text-black btn" 
               type="button">
           Retry
       </button>
   </div>
</div>