/* div{
    border: 1px solid black;
} */

.display-container{
    border: 1px solid black;
}

.full-list{
    display: none;
}

.filter-panel{
    display:none;
}

.filter-panel-active{
    display: block;
    border: 1px solid black;
}


